Django==2.2.10
gunicorn==20.0.4
python-decouple==3.3
dj-database-url==0.5.0
dj-email-url==1.0.1
Pillow==7.1.2
psycopg2==2.8.6
qrcode==6.1
Sphinx==3.1.1
hieroglyph==1.0.0
unipath==1.1
django-storages==1.9.1
boto3==1.13.16
docutils==0.15
flake8==3.8.3
pre-commit==2.5.1
black==19.10b0
